.profile-container {
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.profile-details {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.profile-details p {
  margin-bottom: 10px;
}